# .gitignore

.git/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
*.egg-info/
*.egg

# Test / coverage reports
.coverage
.coverage.*
.pytest_cache/

# Miscellaneous
*.log
*.pyc
.env
.venv

# Ignore build output and temporary files
node_modules/
dist/
*.log

# Ignore package manager lock files if not needed
# package-lock.json
# yarn.lock

# Ignore compiled TypeScript files
out/**/*.js
out/**/*.d.ts

# Ignore compiled JavaScript source maps
**/*.js.map

# Visual Studio temporary files
.vs/

# Ignore output from the VSCode extension tests
.vscode-test/

# Ignore VSCode extension packages
*.vsix
